.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 80px;
  width: 80px;
  background-color: #FFD800;
  position: absolute;
  left: 0;
  }
.logoInner {
  height: 34px;
  width: 34px;
  margin: 20px 21px;
  background-image: url('https://fe.videotron.net/a/few/frg/static-tmpl-v-marginals-vsr/0.1.592/medias/static/img/logo-videotron-icon.svg')
}

.App-link {
  color: #09d3ac;
}


.navVid {
  position: absolute;
}
.navVid1 {
  left: 150px;
}
.navVid2 {
  left: 300px;
}
.navVid3 {
  right: 100px;
}
.content {
  margin: 5px 30px;
  padding: 40px;
  font-size: 25px;
  font-weight: bold;
  background-color: #FFD800;
}
.login-div {
  position: absolute;
  left: 150px;
  top:150px;
}
.login-form {
  background-color: #FFD800 !important;
  padding: 20px;
}
.connexion {
  background-color: #000;
  color: #FFF;
}
.mylink {
  text-decoration: underline !important;
}
