.App {
  text-align: center;
  background-color: #06473C;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #541717;
}

.logo {
  height: 100px;
  width: 100px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  }
.logoInner {
  height: 60px;
  width: 73px;
  margin: 30px 41px;
  background-repeat: no-repeat;
  background-image: url('https://fizz.ca/themes/bookmark_2018/images/icons/fizz.svg')
}

.App-link {
  color: #09d3ac;
}


.navVid {
  position: absolute;
}
.navVid1 {
  left: 350px;
}
.navVid2 {
  left: 500px;
}
.navVid3 {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-radius: 15px;
  color: #FFF;
  background-color: #541717;
  right: 100px;
}
a.navVid3 {
  color: #FFF !important;
  font-size: 13px;
  font-weight: bold;
  padding: 4px;
}
.content {
  margin: 5px 30px;
  padding: 40px;
  font-size: 25px;
  font-weight: bold;
  background-color: #2AE789;
}
.login-div {
  position: absolute;
  left: 150px;
  top:150px;
}
.login-form {
  background-color: #2AE789 !important;
  padding: 20px;
}
.connexion {
  background-color: #000;
  color: #FFF;
}
.mylink {
  text-decoration: underline !important;
}
